# Site
name: "MakeMeTechie | Tech Blog | Tech News"
title: "Tech Blog | Tech News"
description: "Build, break, repeat"
logo: "assets/images/logo/mainlogo.png"
favicon: "assets/images/logo/mainlogo.png"
google_analytics: "UA-46278016-1"
disqus: "makemetechie"
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  Navneet:
    name: Navneet
    display_name: Navneet Singh
    avatar: "assets\\images\\logo\\nav.jpg"
    email: navneet_prakash_singh@live.com
    web: https://twitter.com/tweet_navneet
    twitter: https://twitter.com/tweet_navneet
    instagram: https://www.instagram.com/navneet_singh_live/
    linkedIn: https://www.linkedin.com/in/navneet-singh-71a50398/
    github: https://github.com/NavneetPrakashSingh
    description: "Once a wise man said me, 'words are mighter than a sword'. Living up to the wise man wisdom."

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: "/category/:name/"

# Pagination
paginate: 6
paginate_path: /page:num/

# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
