<div class="share author-share">
  {% assign author = site.authors[page.author] %}
  <ul>
    <li class="ml-1 mr-1">
      <span
        class="d-inline-block"
        tabindex="0"
        data-toggle="tooltip"
        title="Email: navneet_prakash_singh@live.com"
      >
        <a target="_blank" href="mailto:{{author.email}}">
          <i class="fas fa-envelope"></i>
        </a>
      </span>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{author.linkedIn}}">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{author.linkedIn}}">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{author.twitter}}">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="ml-1 mr-1">
      <a target="_blank" href="{{author.instagram}}">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>
